<div class="cart-container" *ngIf="cartItems.length > 0; else emptyCartMessage">
  <div class="header">
    <img src="https://t3.ftcdn.net/jpg/02/47/48/00/360_F_247480017_ST4hotATsrcErAja0VzdUsrrVBMIcE4u.jpg" style="width: 200px; height:170px" class="logo">
    <div class="user-controls">
      <button class="cart-button cart-text">Basket ({{cartItems.length}})</button>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
  <h2>Basket <span>{{ cartItems.length }} items</span></h2>
  <div *ngFor="let item of cartItems; let i = index" class="cart-item">
    <div class="item-number">{{ i + 1 }}.</div>
    <img [src]="item.imageURL" alt="{{ item.name }}" class="item-image">
    <div class="item-details">
      <div class="item-name">{{ item.name }}</div>
      <div class="item-price">${{ item.price }}</div>
    </div>
    <button class="cart-button" (click)="removeFromCart(item)">Remove</button>
  </div>
  <div class="order-summary">
    <h3>Order summary</h3>
    <div>Subtotal <span>${{ cartTotal }}</span></div>
    <div>Shipping <span>$3.99</span></div>
    <div>Tax <span>$2.00</span></div>
    <div>Total <span>${{ cartTotal }}</span></div>
    <div class="address-field">
      <label for="address">Delivery Address</label>
      <input id="address" type="text" [value]="address" style="width:220px;" disabled>
    </div>
    <button class="checkout-button" (click)="checkout()">Checkout</button>
  </div>
</div>
<ng-template #emptyCartMessage>
  <div class="empty-cart-message">
    <h1>Welcome, you don't have any products in the basket</h1>
  </div>
</ng-template>
