<body>
    <div class="container">
      <div class="navigation">
        <div class="logo">
          <img
            src="https://t3.ftcdn.net/jpg/02/47/48/00/360_F_247480017_ST4hotATsrcErAja0VzdUsrrVBMIcE4u.jpg"
            style="width: 200px; height:170px"
            class="logo"
          >
        </div>
        <div>
          <div class="user-controls">
            <button class="mycart-button" (click)="goToCart()">My Cart</button>
            <button class="logout-button" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
      <div class="page-heading">
        <h1 class="items">Welcome, {{ username }}</h1>
        <!-- <span class="filtered-products">Showing {{filteredProducts}} out of {{this.products.length}}</span> -->
        <div class="filters">
          <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select [multiple]="true" [(value)]="selectedCategories" (selectionChange)="onCategoryChange()">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <span class="filtered-products">Showing {{filteredProducts}} out of {{this.products.length}}</span>
      <div class="product-grid" id="product-grid">
        
        <div class="product-card" *ngFor="let product of paginatedProducts">
          <div class="product-image">
            <img [src]="product.imageURL" style="width: 100px; height: 150px;" alt="{{ product.name }} Image">
          </div>
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="price">${{ product.price }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="category">{{ product.category }}</div>
            <div class="rating">{{ product.rating }}</div>
            <div class="button-container">
              <button class="cart-button" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <button class="nav-button left" (click)="prevPage()">&lt;&lt;</button>
        <div class="page-number" id="page-number">Page Number: {{ currentPage }}</div>
        <button class="nav-button right" (click)="nextPage()">&gt;&gt;</button>
      </div>
    </div>
  </body>
  